.App {
  text-align: center;

}
body{
  background-color: gray;
}

.MainContainer{
  height: 200px;
  width:150vh;
  border:1px solid gray;
  margin-top:100px;
  margin-left: 50px;
  background-color: whitesmoke;
  position: relative;
}
.MainContainer h2{
  float: left;
  margin-left:10px;
}
.container{
  display: flex;
  justify-content: space-between;


}
.dropdown{
 margin-right:55px;
 padding:10px;
}
.button_dropdown{
  color:gray;
  background-color: gainsboro;
  font-size:20px;
  display: flex;
  width: 120px;
  box-shadow: 12px 12px 12px 12px rgba(0,0,0,0.06);
  align-items: center;
  justify-content: space-between;
}
.dropdown_container{
  box-shadow: 12px 12px 12px 12px rgba(0,0,0,0.06);
  margin-bottom: 2px;
  position: absolute;

}
.dropdown_item{
  padding:10px;
}
.subtask{
  float: left;
}
